html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Arial;
}

h1,h2,h3,h4,h5,h6 {
    color: #1A1D53;
    font-weight: 900;
}

.smallmarg {
    margin: 0.75rem;
}

.white {
    color: white !important;
}

#navbar {
    background-color: #111336 !important;
    position: absolute;
    width: 100%;
}

#navbar a {
    color: white !important;
    transition: all 200ms;
}
#navbar a:hover {
    color: #90e2a0 !important;
}
#navbar span {
    color: white !important;
}

#hero {
    width: 100%;
    min-height: 100vh;
    background-color: #1A1D53;
    background-image: url(/acecodeday_splash_screen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4rem;
}

.section {
    width: 100%;
    text-align: center;
    padding: 4rem;
}

.bottom-btn {
    border-radius: 9999px;
    transition: all 200ms;
}

#signup-btn {
    margin-top: 20px;
}

#itinerary {
    background-image: linear-gradient(to bottom right, #2ce7ce, #2a6fc8);
}
#itinerary ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#itinerary li {
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(26, 29, 83, 0.6);
    color: white;
    border-radius: 10px;
    transition: all 400ms;
    font-size: 22px;
}

#itinerary li:hover {
    background: rgba(26, 29, 83, 1);
    transform: scale(1.01);
    font-size: 26px;
}

#itinerary h1 {
    margin-bottom: 40px;
}

#workshops {
    background-color: #1A1D53;
    color: white;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 10px;
    transition: all 400ms;
    font-size: 22px;
}

.card:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.6);
}

#registration {
    /* background-image: linear-gradient(90deg, #dc72fc, #7957d5 75%, #455ce2); */
    background-color: white;
    padding: 4rem 0;
    /* background-image: linear-gradient(
        90deg, #7af09d, #45cdff 75%, #455CFE); */
   /* background-image: linear-gradient(to bottom right, #52D5E9, #455CFE);
   /* )*/
   /* background-image: linear-gradient(
       to bottom right, #7af09d, #45cdff 75%, #0c9cf0); noo not the gradients */
  /* )*/
}

#registration > h1 {
    background: linear-gradient( to bottom right, #45cdff 75%, #0c9cf0, #7af09d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 0px #1a1d53;

}

.workshop {
    padding: 1rem;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    min-width: 80%;
    display: block;
    padding: 1rem 0;
    height: 85vh;
    border-style: none;
    overflow: scroll;
    background: transparent;
    border-radius: 10px;
}

h1 {
    margin-bottom: 1.5rem;
}

h1#welcome {
    background: linear-gradient( to bottom right, #45cdff 75%, #0c9cf0, #7af09d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 0px #1a1d53;
}


section#secretsite {
    background-color: #6a55a2cc;
}


#secretsite header {
    width: 100vw;
    text-align: center;
    height: 42vh;
    background-image: linear-gradient( 
90deg
 , #dc72fc, #7957d5 75%, #455ce2);
}

#secretsite header h3 {
    background: linear-gradient(
90deg
, #455ce2, #7957d5 75%, #dc72fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 0px white;
    line-height: 42vh;
    font-size: 690%;
}

#secretsite h1 {
    margin-top: 1%;
    font-size: 666%;
    text-align: center;
    text-shadow: 4px 4px 0px black;
}

#secretsite div {
    width: 100vw;
    overflow-wrap: anywhere;
    /* background: rgba(0,0,0,0); */
}

#secretsite p {
    padding: 1%;
    float: left;
    width: 42vw;
    height: max-content;
    font-size: 137%;
}

#secretsite img {
    float: right;
    /* position: relative; */
    /* right: 4%; */
    width: 50%;
    padding: 2%;
}






@media (max-width: 640px) {
    #hero {
        background-size: 100%;
    }

    .smallmarg {
        margin-left: 0;
        margin-right: 0;
    }

    .card:hover {
        transform: scale(1.01);
    }
}

a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #90e2a0;
    background-color: transparent;
    text-decoration: none;
}

@media screen and (width: 420px) {
    #secretit {
        display: inline !important;
    }
}

@media screen and (min-width: 689px) and (max-width: 690px) {
    #kalyan { display: inline !important; }
}

#kalyan {
    display: none;
}


@media screen and (width:1030px) and (height:616px) {
    #secretsite {display:inline !important;}
    #navbar, #hero, #about, #workshops, #itinerary, #registration {
        display:none;
    }
    body {
        background-color: #bf4bef91;
    }
}

