<div id="footer">
    <p>(C) 2021 <a href="https://acecoding.org">ACE Coding</a></p>
</div>
<style>
#footer {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: #222;
    color: #EEE;
}

#footer p {
    margin: 0;
}

#footer p a {
    color: #EEE;
    text-decoration: underline;
}
</style>
