<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><b>Home</b><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about"><b>About</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#itinerary"><b>Itinerary</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#workshops"><b>Workshops</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#registration"><b>Registration</b></a>
      </li>
      <li class = "nav-item" style = "display:none;">
        <a class = "nav-link" href = "https://cultofthepartyparrot.com/">Heehee Secret Link</a>
      </li>
    </ul>
  </div>
</nav>
